# Web3Forms Access Key for Contact Form
# Get your free access key at https://web3forms.com/ by entering your email (steve.code.dev@gmail.com)
VITE_WEB3FORMS_ACCESS_KEY=6098f1e6-d866-4e1b-9a85-47b56772eaf7
